extends default

block title
  title Node Music Manager - Create Database

block content
  main
    h1 Node Music Manager - Create Database

    article
      section#results

      section#info

    
block scripts
  script(src="/assets/js/db-create-ajax.js")
