extends default

block title
  title Node Music Manager - Create Database

block content
  div.container
    h1 Create Database (AJAX)

    section#results

    section#info

    
block scripts
  script(src="/assets/js/db-create-ajax.js")
