extends default

block title
  title Node Music Manager - Player

block content
  main
    h1 Node Music Manager - Player
    
    audio(src="" controls="controls" data-playlist="#{id}")


block scripts
  script(src="/assets/js/player.js")