extends default

block title
  title Node Music Manager - Playlists

block content
  main
    
    h1 Node Music Manager

    article
      
      h2 Playlists

      section.playlists(data-playlists="#{playlists}")
      
      
      

block scripts
  script(src="/assets/js/playlists.js")