extends default

block title
  title Node Music Manager - Player

block content
  main
    
    h1 Node Music Manager

    article
      
      h2 Player
      
      audio(src="" controls="controls" data-playlist="#{id}" style="width:100%")

      section#player-info
      

block scripts
  script(src="/assets/js/player.js")