extends default

block title
  title Node Music Manager - Create Playlist

block content
  div.container

    h1 Playlist Created

    if err
      p There was a problem:
      p= err
      p with this file:
      p= filepath
    else
      p All good. The playlist is here: 
      h5= filepath
      a(href="/player/?id=#{filepath}" class="btn btn-success") PLAY
