extends default

block title
  title Node Music Manager - Playlists

block content
  div.container
    
    h1 Current Playlists

    section.playlists(data-playlists="#{playlists}")
      

block scripts
  script(src="/assets/js/playlists.js")