article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {display: block;} video {display: inline-block;*display: inline;*zoom: 1;}
html {font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} html,button,input,select,textarea {font-family: serif;}
a:focus {outline: thin dotted;} a:active,a:hover {outline: 0;} img {border: 0; -ms-interpolation-mode: bicubic;} svg:not(:root) {overflow: hidden;} figure {margin: 0;} form {margin: 0;}
img {vertical-align: middle;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
// .hidden {display: none !important;visibility: hidden;}
// .visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
// .clearfix:before, .clearfix:after {content: " "; display: table;} .clearfix:after {clear: both;} .clearfix {*zoom: 1;}*/
