@import "reset";

/* reset above, styles below */

$maxWidthDesktop: 44em;
$maxWidthDesktopRem: 44rem;
$titleFont: Georgia, serif;
$copyFont: Helvetica, Arial, sans-serif;
$bgColor: #fffcc1;
$typeColor: #000;
$linkColor: #2577A1;
$hoverColor: darken($linkColor, 20%);
$footerFontSize: 0.7em;


body {
	margin: 0;
	padding: 0;
	background: $bgColor;
	font-family: $copyFont;
	color: $typeColor;
}

main > section {
	margin-bottom: 2em;
}

h1 {
	margin: 0;
	padding: 0.2em 0;
	background: #e7e173;
	color: #0d3f09;
	font-size: 0.9em;
	font-family: $titleFont;
	font-weight: 400;
	text-align: center;
	letter-spacing: 0.2em;

	& > a {
		color: #0d3f09;
	}
}

h2 {
	margin-top: 1.5em;
}

h3 {
	margin: 2em 0 0.5em;
}

h2 + h3 {
	margin-top: 0;
}

p {
	margin: 0.3em 0 0.5em;
	line-height: 150%;
}

a {
	color: $linkColor;
	text-decoration: none;

	&:hover {
		color: $hoverColor;
	}
}

ol, ul {
	width: 94%;
	margin-left: 0;
	padding-left: 12%;
}

li {
	margin-bottom: 0.3em;
}

body > footer {
	margin-top: 3em;
	font-size: $footerFontSize;
}

input {
	font-family: $copyFont;
	font-size: 1.2em;
}

input[type="number"] {
	width: 4em;
}

/*
--------------------------------------------------------
media query for middle/portrait size range

*/
@media screen and (min-width: 30em) {

	body { font-size: 19px; }

}


/*
--------------------------------------------------------
media query for larger devices

*/
@media screen and (min-width: $maxWidthDesktop) {
	
	body { font-size: 21px; }

	main > section {
		width: 100%;
		max-width: $maxWidthDesktopRem;
		margin-left: auto;
		margin-right: auto;
	}

	ol, ul {
		padding-left: 8%;
	}

}